@mixin relashing-elements-forms {
    label{
        background-color: transparent;
    }

    input,
    textarea {
        border-radius: 0;
        padding: 0;
        position: relative;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="number"],
    input[type="tel"],
    input[type="date"],
    select,
    textarea {
        @include remove-appearance();
    }

    input[type=password] {
        text-transform: none !important; // !important just so it doesn't ever get overwritten
    }

    input[type=number]:-webkit-inner-spin-button,
    input[type=number]:-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=radio],
    input[type=checkbox] {
        position: absolute;
        left: -9999px;
        clip: rect(0,0,0,0);
        clip: rect(0 0 0 0);
    }

    input[type="file"] {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }
}