// * Base Class
// ====================
.big-number__row{
    @include spacing(heading, top, margin);
    margin-left: $grid-margin-gutters;
    margin-bottom: $grid-margin-gutters;

    &:first-child{
        @include spacing(container, top, margin);
    }

    &:last-child{
        @include spacing(container, bottom, margin);
    }
}

.big-number__title{
    padding-right: ($base-spacing * 2);
}


// **
// * Slider
// *
.big-number-slider{
    overflow: hidden;
}

.big-number-slides{
    font-size: 0;
    white-space: nowrap;
    
    .flickity-viewport,
    .flickity-slider{
        height: 100%;
    }
}

.big-number-slide{
    @include reset-font-size();
    display: inline-block;
    vertical-align: top;
    margin-right: ($base-spacing * 2);
    white-space: normal;
    width: 65%;
}

.big-number-slide__pre-title{
    margin-bottom: $base-spacing;
}

.big-number-slide__title-container{
    font-size: 0;
    margin-bottom: $base-spacing;

    & *{
        @include typography(heading2);
        font-family: $font-heading;
    }
}

.big-number-slide__image{
    display: block;
    width: 70%;
}


// * Media Queries
// ====================
@include breakpoint(screen600){
    .big-number__row{
        margin-left: grid-inner-col(1,9);
    }

    .big-number-slide{
        width: 40%;
        margin-right: ($base-spacing * 3);
    }
}

@include breakpoint(screen768){
    .big-number-slide{
        width: percentage(1/3);
    }
}

@include breakpoint(screen1000){
    .big-number-slide{
        width: 30%;
    }
}

@include breakpoint(screen1400){
    .big-number-slide{
        width: percentage(1/3);
    }
}