// * Variables
// ====================
$global-presence-region-border: get-colour(grey-light) !default;

$global-presence-region-map-border: get-colour(white) !default;

$global-presence-icon-size: $icon-size * 1.5 !default;
$global-presence-icon-color: get-colour(blue) !default;


// * Base Class
// ====================
.global-presence__row{
    @include spacing(heading, top, margin);
    margin-left: $grid-margin-gutters;
    margin-right: $grid-margin-gutters;

    &:first-child{
        @include spacing(container, top, margin);
    }

    &:last-child{
        @include spacing(container, bottom, margin);
    }
}

// **
// * Region
// *
.global-presence-region{

    & + .global-presence-region{
        border-top: 1px solid $global-presence-region-border;
    }
}

.global-presence-region__title{
    @include typography(title1);
    font-family: $font-title;
}

.global-presence-region__locations-map{
    margin: ($base-spacing * 2) 0;
}

.global-presence-region__locations-map-frame{
    @include aspect-ratio();
    @include border-radius-fix();
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    border: 1px solid $global-presence-region-map-border;
    border-radius: 100%;
    overflow: hidden;
}

.global-presence-region__locations-content{
    overflow: hidden; 
}

// **
// * Nav
// *
.global-presence-region__location-button{
    @include remove-appearance();
    @include link($font: title1, $animation: true);
    cursor: pointer;
    display: block;
    opacity: 0.6;
    transition: opacity 300ms ease-in-out;
    text-align: left;
    
    & + .global-presence-region__location-button{
        margin-top: $base-spacing;
    }
}

.global-presence-region__controls{   
    margin-top: ($base-spacing * 2);
}

// **
// * Map
// *
.global-presence-region__locations-map-icon{
    border: 10px solid $global-presence-region-map-border;
    border-radius: 100%;
    fill: $global-presence-icon-color;
    width: $global-presence-icon-size;
    height: $global-presence-icon-size;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// **
// * Content
// *
.global-presence-region__location-content{
    display: none;
    position: relative;
}


// * States & Modifiers
// ====================
.global-presence-region__location-button{
    &:hover,
    &:focus,
    &:active,
    &[aria-selected="true"]{
        opacity: 1;
    }
}

.global-presence-region__location-content{
    &[aria-current="false"]{
        animation-duration: 600ms;
        animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
        animation-name: hideContent;
    }

    &[aria-current="true"]{
        opacity: 0;
        display: block;
        animation-duration: 500ms;
        animation-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
        animation-name: showContent;
        animation-fill-mode: forwards;
    }
}


// * Media Queries
// ====================
@include breakpoint(screen600 down){
    .global-presence-region__location-button[aria-selected="false"]{
        display: none;
    }
}

@include breakpoint(screen768){
    .global-presence__row{
        margin-left: grid-inner-col(1,9);
        margin-right: grid-inner-col(1,9);
    }

    .global-presence-region{
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .global-presence-region__locations-nav{
        flex: 1 1 20%;
        width: 20%;
    }

    .global-presence-region__locations-map{
        flex: 1 1 35%;
        width: 35%;
        margin: 0 ($base-spacing * 3);

    }

    .global-presence-region__locations-content{
        flex: 1 0 45%;
        align-self: center;
        width: 45%;
    }
    
    .global-presence-region__controls{   
        display: none;
    }
}