// * Base Class
// ====================
.graph__sections{
    overflow: hidden;
    
}

.graph__sections-inner{
    transition: transform 300ms ease-in-out;
    width: 300%;
    display: flex;
    flex-flow: row nowrap;
    align-content: flex-start;
    justify-content: flex-start;
}

// **
// * Graph section
// *
.graph-section{
    flex: 0 0 percentage(1/3);
    width: percentage(1/3);
}

.graph-section__title{
    @include typography(title1);
    font-family: $font-title;
    padding: ($base-spacing * 2) ($base-spacing * 2) 0;
    text-align: center;

    & + * {
        padding-top: ($base-spacing * 2);
    }

    & + .graph-section__subtitle{
        padding-top: 0;
    }
}

.graph-section__subtitle{
    padding: 0 ($base-spacing * 2) 0;
    text-align: center;

    & + * {
        margin-top: ($base-spacing * 2);
    }
}

.graph-section__image{
    display: block;
    width: 100%;
}

.graph-section__description{
    padding: ($base-spacing * 2);
}


// * Media Queries
// ====================
@include breakpoint(screen768){
    .graph__sections-inner{
        transition: none;
        width: 100%;
        transform: translateX(0);
    }

    .graph-section{
        &:nth-child(2){
            margin-left: ($base-spacing/2);
            margin-right: ($base-spacing/2);
        }
    }

    .graph-controls{
        display: none;
    }
}