// * Variables
// ====================
$image-gallery-background: get-colour(grey-light) !default;

$image-gallery-banner-height--1000: 100vh !default;

$image-gallery-slider-height: 70vh !default;
$image-gallery-slider-height--1000: 100vh !default;


$image-gallery-content-max-width: 340px !default;


$image-gallery-control-color: #FFFFFF !default;

$gallery-legend-color: get-colour(grey) !default;

// * Base Class
// ====================
.gallery{
    @include aspect-ratio(map-get($ratios, 4-by-3));
}

// **
// * Banner
// *
.gallery__frame{
    overflow: hidden;
    @include aspect-ratio-item();

    .slider-controls{
        position: absolute;
        bottom: ($base-spacing * 2);
        left: ($base-spacing * 2);
        z-index: 2;
    }

    .slider-control{
        color: $image-gallery-control-color;
    } 
}

.gallery__overlay{
    @include overlay(1);
    background-color: map-get($overlays, 15);
}

.gallery__slider{
    font-size: 0;
    white-space: nowrap;
    height: 100%;
    
    .flickity-viewport,
    .flickity-slider{
        height: 100%;
    }
}

.gallery__item{
    display: inline-block;
    margin: 0;
    height: 100%;
    max-width: none;
}



// * State & Modifiers
// ====================
@include breakpoint(screen1000){
    .gallery{
        @include aspect-ratio-update(map-get($ratios, gallery));
    }

    .gallery__legend{
        @include side-heading();
        @include typography();
        font-weight: 300;
        color: $gallery-legend-color;
    }
}

// * Media Queries
// ====================

