// * Variables
// ====================
$quote-icon-size: $icon-size--large !default;
$quote-icon-size--600: $icon-size--large * 2 !default;
$quote-icon-color: get-colour(grey-light) !default;


// * Base Class
// ====================
.quotes {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: ($base-spacing * 2);
    box-sizing: border-box;
}

.quotes__icon{
    color: $quote-icon-color;
    fill: $quote-icon-color;
    width: $quote-icon-size;
    height: $quote-icon-size;
    flex: 0 0 $quote-icon-size;
    margin-right: ($base-spacing * 2);
}

.quotes-list-container{
    flex: 0 0 auto;
    width: calc(100% - #{$quote-icon-size + ($base-spacing * 2)});
    overflow: hidden;
}

.quotes-list{
    .flickity-viewport,
    .flickity-slider{
        height: 100%;
        width: 100%;
        transition: height 200ms ease-in-out;
    }

    .quote{
        @include reset-font-size();
        margin-right: ($base-spacing * 2);
        width: 100%;
        white-space: normal;
    }
}

@include breakpoint(screen600){
    .quotes__icon{
        width: $quote-icon-size--600;
        height: $quote-icon-size--600;
        flex-basis: $quote-icon-size--600;
    }
    
    .quotes-list-container{
        width: calc(100% - #{$quote-icon-size--600 + ($base-spacing * 2)});
    }
}