// * Base Class
// ====================
.team-slider{
    .team-list{
        overflow-x: hidden;
    }
}

.team-slider__row{
    @include spacing(heading, top, margin);
    margin-left: $grid-margin-gutters;
    margin-right: $grid-margin-gutters;

    &:first-child{
        @include spacing(container, top, margin);
    }

    &:last-child{
        @include spacing(container, bottom, margin);
    }
}

.team-slider__title{
    padding-right: ($base-spacing * 2);
}


// **
// * Slider
// *
.team-slider__slide.team-member{
    display: inline-block;
    width: percentage(2/3);
    margin-right: ($base-spacing * 2);
    white-space: normal;
}

.team-slider__slides{
    font-size: 0;
    white-space: nowrap;
    
    .flickity-viewport,
    .flickity-slider{
        height: 100%;
    }
}


// * Media Queries
// ====================
@include breakpoint(screen600){
    .team-slider__row{
        margin-left: grid-inner-col(1,9);
    }
}

@include breakpoint(screen768){
    .team-slider__slide.team-member{
        width: percentage(1/3);
    }
}

@include breakpoint(screen1000){
    .team-slider__slide.team-member{
        width: percentage(1/4);
    }
}

@include breakpoint(screen1400){
    .team-slider__slide.team-member{
        width: percentage(2/9);
    }
}