// * Base Class
// ====================
.text-image__title{
    @include typography(heading2);
    font-family: $font-heading;
}

// **
// * Image
// *
.text-image__image-container {
    @include aspect-ratio(125%);
    background-color: $text-image-heading-image-background;
    width: 100%;
    overflow: hidden;
}

.text-image__image {
    @include background-image();
}


// * State & Modifiers
// ====================
.text-image--reversed{

    .text-image__image-area {
        order: 0;
    }

    .text-image__content-area{
        order: 1;
    }
}


// * Media Queries
// ====================
@include breakpoint(screen600 down){
    .text-image__image-container {
        margin-top: ($base-spacing * 2);
    }
}

@include breakpoint(screen600){
    .text-image__content-area{
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
    }
    
    .text-image__link{
        align-self: flex-start;
    }
}
