// * Variables
// ====================
$what-we-offer-offer-line-color: get-colour(grey-light) !default;

// * Base Class
// ====================
.what-we-offer-offer{
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
}

.what-we-offer-offer__title,
.what-we-offer-offer__number{
    @include typography(title1);
    font-family: $font-title;
}

.what-we-offer-offer__number{
    margin-right: ($base-spacing * 2.5);
    position: relative;

    &:after{
        content: '';
        background-color: $what-we-offer-offer-line-color;
        display: block;
        height: 1px;
        width: (($base-spacing * 2.5) - 20);
        position: absolute;
        top: 50%;
        left: 100%;
        margin-left: 10px;
        transform: translateY(-50%);
    }
}


// * Media Queries
// ====================
@include breakpoint(screen1000){
    .what-we-offer-offer__number{
        margin-right: ($base-spacing * 5);

        &:after{
            width: (($base-spacing * 5) - 30);
        }
    }
}