// * Variables
// ====================

$custom-select-text-color: currentColor !default;

$custom-select-selector-color: currentColor !default;
$custom-select-selector-color-active: get-colour(blue) !default;

$custom-select-selector-icon-size: $icon-size !default;

$custom-select-tooltip-background: get-colour(white) !default;
$custom-select-tooltip-border: #9B9B9B !default;
$custom-select-tooltip-height: 240px !default;
$custom-select-tooltip-width: ($base-spacing * 13) !default;
$custom-select-tooltip-text-color: currentColor !default;
$custom-select-tooltip-text-hover-color: get-colour(blue) !default;


// * Base Class
// ====================
.custom-select {
    position: relative;
}

.custom-select__select {
    opacity: 0;
}

.custom-select__text {
    @include link( 
        $font: title2, 
        $border-color: currentColor,
        $color: $custom-select-selector-color, 
        $hover-color: $custom-select-tooltip-text-hover-color,
        $animation: true
    );
    display: block;
    cursor: pointer;
    padding-right: ($custom-select-selector-icon-size + 20);
    position: relative;
}

.custom-select__icon {
    fill: currentColor;
    height: $custom-select-selector-icon-size;
    width: $custom-select-selector-icon-size;
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
}

// **
// * Tooltip popup
// *
.custom-select__tooltip {
    background-color: $custom-select-tooltip-background;
    border: 1px solid $custom-select-tooltip-border;
    min-width: $custom-select-tooltip-width;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 10px;
    text-align: left;
    z-index: 3;
    opacity: 0;
    visibility: hidden;
    transition: 
        opacity 0.4s ease-in-out 1ms,
        visibility 4ms ease-in-out 0s;
}

.custom-select__tooltip-inner {
    @include scrollbar();
    box-sizing: border-box;
    max-height: $custom-select-tooltip-height;
    margin: $base-spacing 8px $base-spacing $base-spacing;
    overflow-y: auto;
}

.custom-select__tooltip-option {
    @include typography(copyLarge);
    font-family: $font-roboto-light;
    padding: 0 $base-spacing 0 0;
    color: $custom-select-tooltip-text-color;
    cursor: pointer;

    &:hover {
        color: $custom-select-tooltip-text-hover-color;
    }
}


// * States & Modifiers
// ====================
.custom-select{
    &[aria-expanded="true"]{
        .custom-select__icon {
            transform: translateY(-50%) rotate(180deg);
        }

        .custom-select__tooltip {
            visibility: visible;
            opacity: 1;
        }
    }

    &[aria-selected="true"]{
        .custom-select__text {
            color: $custom-select-selector-color-active;
        }
    }
}


// * Media Queries
// ====================

