// * Variables
// ====================
$date-item-size: 85px !default;
$date-item-color: get-colour(white) !default;
$date-item-background: get-colour(blue) !default;
$date-item-line-color: get-colour(grey-light) !default;
$date-item-line-width: ($base-spacing * 3) !default;


// * Base Class
// ====================
.date-item-group{
    .date-item{
        display: inline-block;
        & + .date-item{
        margin-left: $date-item-line-width + ($base-spacing * 2);

        &:after{
                content: '';
                background-color: $date-item-line-color;
                display: block;
                height: 1px;
                width: $date-item-line-width;
                position: absolute;
                top: 50%;
                right: 100%;
                transform: translate(-$base-spacing, -50%);
            } 
        }
    }
}

.date-item {
    @include aspect-ratio();
    background-color: $date-item-background;
    border-radius: 100%;
    color: $date-item-color;
    display: block;
    text-align: center;
    width: $date-item-size;
}

.date-item__content{
    @include aspect-ratio-inner(100%);

}

.date-item__day{
    font-size: calc-rems(34);
    font-family: $font-heading;
    line-height: 1;
    display: block;
}

.date-item__month{
    @include typography(copyLarge);
    font-family: $font-heading;
    line-height: 1;
}


// * Media Queries
// ====================
@include breakpoint(screen600) {
    .date-item-group{
        .date-item{
            display: block;

            & + .date-item{
                margin-left: 0;
                margin-top: $date-item-line-width + ($base-spacing * 2);

                &:after{
                    width: 1px;
                    height: $date-item-line-width;
                    right: 50%;
                    top: 0;
                    transform: translate(50%, -($date-item-line-width + $base-spacing));
                } 
            }
        }
    }
}