// * Variables
// ====================

$news-card--hover-color: get-colour(blue) !default;


// * Base Class
// ====================
.news-card{
    @include anchor($underline-hover: false);
    transition: color 250ms ease-in-out;

    &:hover,
    &:focus{
        color: $news-card--hover-color;

        .news-card__image{
            transform: translate(-50%, -50%) scale(1.2);
        }
    }
}

.news-card__image-container{
    @include aspect-ratio(map-get($ratios, 16-by-9));
    background-color: get-colour(grey-light);
    margin-bottom: $base-spacing;
    overflow: hidden;
}

.news-card__image{
    @include background-image();
    transition: transform 450ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.news-card__meta{
    @include typography(copySmall);
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    margin-bottom: $base-spacing;
}

.news-card__category,
.news-card__date{
    flex: 0 0 auto;
    margin-right: $base-spacing;
}