
// * Base Class
// ====================
.quote__text{
    @include typography(title1);
    font-family: $font-heading;
    margin-bottom: $base-spacing;
}

.quote__author{
    @include typography();
    font-weight: 300;
}

.quote__author-details{
    @include typography(copySmall);
    font-style: italic;
}

