// * Variables
// ====================
$resource-link-border-color: get-colour(grey-light) !default;


// * Base Class
// ====================
.resource-links__title{
    @include typography(title1);
}

.resource-link{
    & + .resource-link {
        margin-top: ($base-spacing/2);
    }
}

.resource-link__url{
    @include link(
        $border-color: $resource-link-border-color,
	    $padding: 3px,
    );
}