//
// * Name: Sitemap
// * Description: 
//

// * Variables
// ====================


// * Base Class
// ====================
.sitemap-level {
    .sitemap-level {
        margin-top: $base-spacing;
        margin-left: ($base-spacing * 2);        
    }
}


.sitemap-item__link {
    color: get-colour(charcoal);
    text-decoration: none;
    @include typography(subheading2);

    &:hover,
    &:active{
        color: get-colour(link-hover);
    }
}


// * States & Modifiers
// ====================


// * Media Queries
// ====================
@include breakpoint(screen768) {
}
