//
// * Name: Side Heading
// * Description: 
//

// * Variables
// ====================

$table-heading-color: #A5A5A5 !default;
$table-heading-border: #A5A5A5 !default;

$table-data-color: get-colour(blue) !default;

// * Base Class
// ====================
table{
    border-collapse: collapse;
    padding: 0;
    width: 100%;
    text-align: left;
    @include typography(copySmall); 
}

th{
    border-bottom: 1px solid $table-heading-border;
    color: $table-heading-color;
    padding: 0 0 ($base-spacing/2);
}

td{
    color: get-colour(blue);
    padding: ($base-spacing/2) ($base-spacing/2) ($base-spacing/2) 0;
    
}



// * States & Modifiers
// ====================


// * Media Queries
// ====================
@include breakpoint(screen768) {
}
