// * Variables
// ====================
$investment-detail-title-color: get-colour(grey) !default;

// * Base Class
// ====================
.investors-login-panel{
    padding: ($base-spacing * 2);
}

.investors-login-panel__content-container,
.investors-login-panel__form-container{
    flex: 1 1 auto;
}
.investors-login-panel__content-container{
    margin-bottom: ($base-spacing * 2);
}

// * Media Queries
// ====================
@include breakpoint(screen1000){
    .investors-login-panel{
        display: flex;
        flex-flow: row nowrap;
    }  

    .investors-login-panel__content-container{
        margin-right: ($base-spacing * 2);
        margin-bottom: 0;
    }
}