// * Base Class
// ====================
.team-member-heading__title{
    @include typography(heading2);
    font-family: $font-heading;
}


// * Media Queries
// ====================
@include breakpoint(screen600){
    .team-member-heading__content{
        order: 1;
    }

    .team-member-heading__image{
        order: 2;
    }

    .team_member-heading__links{
        order: 3;
    }
}