// * Variables
// ====================
$scheme--grey-dark-background: get-colour(grey-dark) !default;
$scheme--grey-dark-color: #FFFFFF !default;

.scheme--grey-dark {
    background-color: $scheme--grey-dark-background;
    color: $scheme--grey-dark-color;

    // * body
    body {
        color: $scheme--grey-dark-color;
    }

    // * slider controls
    .slider-control,
    .pagination-nav{
        background-color: get-colour(white);
        color: get-colour(blue);

        &:hover:not(.slider-control--disabled):not([disabled]),
        &:focus:not(.slider-control--disabled):not([disabled]),
        &:active:not(.slider-control--disabled):not([disabled]){
            background-color: get-colour(blue);
            color: get-colour(white);
        }
    }  

    .slider-control[disabled],
    .slider-control--disabled,
    .pagination-nav--disabled
    {
        background-color: get-colour(white);
        color: get-colour(blue);
    }
}