// * Variables
// ====================
$page-popup-content-background: get-colour(page-bg) !default;
$page-popup-loader-background: get-colour(white) !default;
$page-popup-loader-color: get-colour(blue) !default;

// * Base Class
// ====================
.page-popup{
    background-color: overlay(75);
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: layer(page-popup);
}


// **
// * Close button
// *
.page-popup__close{
    @include remove-appearance();
    color: currentColor;
    cursor: pointer;
    position: absolute;
    top: $base-spacing;
    right: $base-spacing;
    z-index: 2;
    visibility: hidden;
}

.page-popup__close-icon{
   fill: currentColor;
   color: currentColor;
   height: $icon-size;
   width: $icon-size;
}

.page-popup__content{
    background-color: $page-popup-content-background;
    cursor: default;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

.page-popup-loader {
    background-color: $page-popup-loader-background;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}


.page-popup-loader__logo{
    display: block;
    width: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// * States Modifiers
// ====================
.page-popup{
    &[aria-hidden="true"]{
        opacity: 0;
        transform: translateX(100%);
        transition: 
            transform 0ms linear $page-popup-hide-speed,
            opacity $page-popup-hide-speed ease-in-out;
    }

    &[aria-hidden="false"]{
        opacity: 1;
        transition: opacity $page-popup-reveal-speed ease-in-out;

        .page-popup__content{
            transform: translateX(100%);
            animation-name: showPopup;
            animation-delay: $page-popup-reveal-speed;
            animation-duration: 300ms;
            animation-fill-mode: forwards;
        }
    }

    &[aria-busy="false"]{
        .page-popup-loader {
            @include animate-loader($in: false, $layer-out: layer(page-loader--hidden));
        }
    }

    &[aria-busy="true"]{
        .page-popup-loader {
            @include animate-loader($in: true, $layer-in: layer(page-loader));
        }
    }
}

.page-popup--with-content{
    .page-popup__content-inner{
        opacity: 0;
        animation-delay: $page-popup-reveal-speed;
        animation-duration: 500ms;
        animation-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
        animation-name: showContent;
        animation-fill-mode: forwards;
    }

    .page-popup__close{
        visibility: visible;
    }
}

// * Media Queries
// ====================
@include breakpoint(screen600){
    .page-popup-loader__logo{
        width: 230px;
    }
}
@include breakpoint(screen1000) {
    .page-popup{
        cursor: url('#{$img-url}/close-cursor.png'), auto;
    }
    .page-popup__content{
        cursor: default;
        left: 25%;
        width: 75%;
    }

    .page-popup-loader {
        cursor: default;
        left: 25%;
        width: 75%;
    }

    .page-popup__close{
        display: none;
    }
}
