$header-slide-up-speed: 2000ms !default;
$header-slide-down-speed: 1200ms !default;
$main-navigation-reveal-speed: 400ms !default;
$main-navigation-slide-in-speed: 500ms !default;
$page-video-stage-svg-speed: 800ms !default;
$page-popup-reveal-speed: 500ms !default;
$page-popup-hide-speed: 500ms !default;
$cookies-slide-up-speed: 500ms !default;