// * LAYERS
// ====================
$layers: (
    box-video: 140,
    page-loader: 120,
    cookie-message: 115,
    page-video-stage: 110,
    page-popup: 110,
    cookie: 105,
    menu-button: 110,
    header: 105,
    side-bar: 100,
    page-main: 3,
    page-loader--hidden: 0,
) !default;