// * RATIOS
// ====================
$ratios: (
    16-by-9: 56.25%,
    4-by-3: 75%,
    1-by-2: 200%,
    5-by-2:40%,
    // 3-by-4: 67%,
    gallery: 58%,
);

// * OVERLAYS
// ====================
$overlays: (
    75: rgba(0, 0, 0, 0.75),
    50: rgba(0, 0, 0, 0.30),
    35: rgba(0, 0, 0, 0.35),
    15: rgba(0, 0, 0, 0.15),
    20: rgba(0, 0, 0, 0.20),
) !default;

// * SCROLLBAR
// ====================
$scrollbar-width: 8px !default;
$scrollbar-border-radius: 8px !default;
$scrollbar-track-colour: get-colour(grey-light) !default;
$scrollbar-bar-colour: get-colour(blue-dark) !default;
$scrollbar-other-colour: get-colour(grey-light) !default;