// * SPACING
// ====================
$base-spacing: 15px !default;

$spacing-groups:(
    'base' : (
        'breakpoints': (
            null: $base-spacing,
        )
    ),
    'heading' : (
        'breakpoints':(
            null: $base-spacing * 1.5,
            #{$breakpoint-4}: $base-spacing * 2,
        )
    ),
    'content' : (
        'breakpoints':(
            null: $base-spacing * 3,
            #{$breakpoint-2}: $base-spacing * 4,
            #{$breakpoint-4}: $base-spacing * 5,
        )
    ),
    'container' : (
        'breakpoints': (
            null: $base-spacing * 4,
            #{$breakpoint-2}: $base-spacing * 5,
            #{$breakpoint-4}: $base-spacing * 7,
        )
    )
);

// * HEADER
// ====================
$header-height: 108px !default;
