


// * FONT FAMILIES
// ====================
$font-maitree-light: 'Maitree', Times New Roman, Arial, serif;
$font-roboto-regular: 'Roboto', Open Sans, Arial, serif;
$font-roboto-light: 'Roboto', Open Sans, Arial, serif;


// * WEBSITE FONTS
// ====================
$font-default: $font-roboto-light !default;
$font-heading: $font-maitree-light !default;
$font-title: $font-maitree-light !default;
$font-title--2: $font-roboto-regular !default;
$font-copy: $font-roboto-light !default;
$font-copy--2: $font-roboto-light !default;

// * FONT SIZES
// ====================
$rem-base: 16px !default; // following the 100% percentage on html

$font-size-groups: (
    'heading1' : (
          null: calc-rems(56),
          screen768: calc-rems(82),
    ),
    'heading2' : (
          null: calc-rems(42),
          screen768: calc-rems(60),
    ),
    'heading3' : (
          null: calc-rems(32),
          screen768: calc-rems(40),
    ),
    'title1' : (
          null: calc-rems(24),
    ),
    'title2' : (
          null: calc-rems(20),
    ),
    'copyLarge' : (
          null: calc-rems(18),
    ),
    'copy' : (
          null: calc-rems(16),
    ),
    'copySmall' : (
          null: calc-rems(14),
    ),
) !default;

$font-line-height-groups: (
    'heading1' : (
          null: 1.1,
    ),
    'heading2' : (
          null: 1.2,
    ),
    'heading3' : (
          null: 1.6,
    ),
    'title1' : (
          null: 1.6,
    ),
    'title2' : (
          null: 1.8,
    ),
    'copyLarge' : (
          null: 2,
    ),
    'copy' : (
          null: 2,
    ),
    'copySmall' : (
          null: 1.8,
    ),
) !default;