// * FONT FAMILIES
// ====================
$font-arapey: 'Arapey', Times New Roman, Arial, serif;
$font-raleway: 'Raleway', Open Sans, Arial, serif;


// * WEBSITE FONTS
// ====================
$font-default: $font-raleway !default;
$font-heading: $font-arapey !default;
$font-title: $font-arapey !default;
$font-title--2: $font-raleway !default;
$font-copy: $font-raleway !default;


// * FONT SIZES
// ====================
$base-font-size: 1rem !default;
$base-font-size--px: 16 !default;

$font-size-groups: (
    'heading1' : (
          null: rem-calc(56),
          #{$breakpoint-2}: rem-calc(82),
          #{$breakpoint-4}: rem-calc(90),
    ),
    'heading2' : (
          null: rem-calc(42),
          #{$breakpoint-2}: rem-calc(60),
          #{$breakpoint-4}: rem-calc(85),
    ),
    'heading3' : (
          null: rem-calc(32),
          #{$breakpoint-2}: rem-calc(40),
    ),
    'title1' : (
          null: rem-calc(24),
    ),
    'title2' : (
          null: rem-calc(20),
    ),
    'copyLarge' : (
          null: rem-calc(18),
    ),
    'copy' : (
          null: rem-calc(16),
    ),
    'copySmall' : (
          null: rem-calc(14),
    ),
) !default;

$font-line-height-groups: (
    'heading1' : (
          null: 1.1,
    ),
    'heading2' : (
          null: 1.2,
    ),
    'heading3' : (
          null: 1.6,
    ),
    'title1' : (
          null: 1.6,
    ),
    'title2' : (
          null: 1.8,
    ),
    'copyLarge' : (
          null: 2,
    ),
    'copy' : (
          null: 2,
    ),
    'copySmall' : (
          null: 1.8,
    ),
) !default;

