// * Variables
// ====================
$form-background: transparent !default;
$form-max-width: none !default;
$form--wide-max-width: none !default;

$form-row-background: transparent !default;

$form-legend-color: get-colour(black) !default;

$form-label-color: get-colour(text-alt) !default;

$form-input-color: get-colour(text-alt) !default;
$form-input-border-color: get-colour(grey-dark) !default;
$form-input-background: transparent !default;
$form-input-validation-icon-size: 48px !default;

$form-placeholder-color: get-colour(grey) !default;

$form-dropdown-arrow-color: get-colour(blue) !default;
$form-dropdown-arrow-border-color: transparent !default;
$form-dropdown-arrow-background-color: get-colour(blue) !default;
$form-dropdown-size: 45px !default;

$form-checkbox-color: get-colour(white) !default;
$form-checkbox-border-color: get-colour(grey-dark) !default;
$form-checkbox-icon-size: 30px !default;

$form-radiobutton-color: #000000 !default;
$form-radiobutton-border-color: #000000 !default;
$form-radiobutton-icon-size: 30px !default;

$form-input--focus-color: currentColor !default;
$form-input--focus-border-color: #9B9B9B !default;


$form-checkbox--selected-color: get-colour(blue) !default;
$form-checkbox--selected-border-color: get-colour(grey-dark) !default;
$form-radiobutton--selected-color: #000000 !default;
$form-radiobutton--selected-border-color: #000000 !default;

$form-row-required-indicator-color: get-colour(blue) !default;

$form-checkbox--valid-color: #128372 !default;
$form-checkbox--valid-border-color: #128372 !default;
$form-radiobutton--valid-color: #128372 !default;
$form-radiobutton--valid-border-color: #128372 !default;
$form-input-valid-color: #FF1D25 !default;
$form-input-valid-border-color: #FF1D25 !default;
$form-input-valid-background-color: #FFFFFF !default;
$form--input--valid-validation-icon-color: transparent !default;


$form-checkbox--invalid-color: #FF1D25 !default;
$form-checkbox--invalid-border-color: #FF1D25 !default;
$form-radiobutton--invalid-color: #FF1D25 !default;
$form-radiobutton--invalid-border-color: #FF1D25 !default;
$form-input--invalid-color: #FF1D25 !default;
$form-input--invalid-border-color: #FF1D25 !default;
$form-input--invalid-background-color: #FFFFFF !default;
$form--input--invalid-validation-icon-color: transparent !default;


// * Base Class
// ====================

// **
// * Titles
// *
legend {
    @include typography(title1);
    color: $form-legend-color;
    margin: 0 0 ($base-spacing * 2);
}

label {
    @include typography(title2);
    font-family: $font-copy;
    font-weight: 300;
    color: $form-label-color;
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    transition: all 0.3s ease-in-out;

    &[for]{
        cursor: pointer;
    }
}

.form__message{
    @include typography(copyTitle);
    margin: 0;
    padding: 0;

    & + form{
        margin-top: ($base-spacing * 2);
    }
}

// **
// * Inputs
// *
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
input[type="date"],
select,
textarea,
.form-row__input {
    @include typography(copyLarge);
    font-family: $font-copy;
    font-weight: 300;
    background-color: $form-input-background;
    border-bottom: 1px solid $form-input-border-color;
    color: $form-input-color;
    padding: 0 0 ($base-spacing/2);
    width: 100%;
    transition: all 0.1s ease-in-out;

    &:focus,
    &:active {
        color: $form-input--focus-color;
        border-color: $form-input--focus-border-color;
    }
}

// **
// * Radio Button
// *
input[type=radio] + label {
    margin-bottom: 0;
    padding: 0;
    color: $form-input-color;

    &:before {
        box-sizing: border-box;
        content: '';
        color: $form-radiobutton-color;
        display: block;
        float: left;
        width: $form-radiobutton-icon-size;
        height: $form-radiobutton-icon-size;
        margin-right: $base-spacing;
        margin-top: -5px;
        text-align: center;
    }

    span {
        overflow: hidden;
        display: block;
        font-size: inherit;
        line-height: inherit;
    }
}

input[type=radio]:checked + label:before {
    color: $form-checkbox--selected-color;
}


// **
// * Checkbox
// *
input[type=checkbox] + input[type=hidden] + label,
input[type=checkbox] + label {
    color: $form-input-color;
    margin-bottom: 0;
    padding: 0 0 0 ($form-checkbox-icon-size + ($base-spacing * 2));
    position: relative;
    
    &:before,
    &:after{
        content: '';
        position: absolute;
        display: block;
    }

    &:before{
        border: 1px solid $form-input-border-color;
        top: 0;
        left: 0;
        width: $form-checkbox-icon-size;
        height: $form-checkbox-icon-size;
    }

    &:after {
        box-sizing: border-box;
        background-color: $form-checkbox-color;
        width: ($form-checkbox-icon-size - 8);
        height: ($form-checkbox-icon-size - 8);
        top: 4px;
        left: 4px;
    }
}

input[type=checkbox]:checked + input[type=hidden] + label:after,
input[type=checkbox]:checked + label:after {
    background-color: $form-checkbox--selected-color;
}

// **
// * Placeholder
// *
::-webkit-input-placeholder,
input:-moz-placeholder,
input:-ms-input-placeholder {
    color: $form-placeholder-color;
    font-size: 0;
}


// **
// * Layout
// *
.form {
    background-color: $form-background;
    font-size: 0;
    max-width: $form-max-width;
    margin: 0 auto;
    padding: 0;
}

fieldset,
.form__section {
    border: none;
    padding: 0;
    margin: 0;

    & + fieldset,
    & + .form__section{
        margin-top: ($base-spacing * 2);
    }

}

.form-row {
    @include clearfix();
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    min-width: 100%;
    position: relative;

    label{
        color: $form-placeholder-color;
        padding: 0 0 ($base-spacing/2);
        transform: translate(0, 100%);
        transition: transform 350ms cubic-bezier(0.19, 1, 0.22, 1);
    }

    // & + .form-row{
    //     margin-top: ($base-spacing * 2);
    // }
}

// **
// * Submission
// *
.form-button {
    @include spacing(heading, top, margin);
}

// **
// * Validation
// *
.form-row__required-indicator{
    color: $form-row-required-indicator-color;
    margin-left: 5px;
}

.field-validation-error{
    @include typography(copySmall);
    display: block;
    margin-top: 5px;

    span{
        @include inherit-style();
        color: $form-checkbox--invalid-color;
        display: block;
        margin-top: $base-spacing;
    }
}



// * States & Modifiers
// ====================
.form-row--hidden-label{
    padding-top: 0;

    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="number"],
    input[type="tel"],
    input[type="date"],
    select,
    textarea,
    .form-row__input{
        padding-top: 0;
    }
}

.form-row--input-submit{
    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="number"],
    input[type="tel"],
    input[type="date"],
    select,
    textarea,
    .form-row__input{
        padding-right: ($icon-size + ($base-spacing * 2));
    }

    .form-button{
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }

}

.form-row--focus {
    .field-validation-error{
        visibility: hidden;
    }
}

.form-row--populated,
.form-row--focus {
    label{
        color: $form-label-color;
        transform: translate(0, 0);
    }
}