// * Variables
// ====================


// * Base Class
// ====================
.body-copy{
    @include typography();
    font-weight: 300;

    h1{
        @include typography(heading1);
        font-family: $font-heading;
    }

    h2{
        @include typography(heading2);
        font-family: $font-heading;
    }

    h3{
        @include typography(title1);
        font-family: $font-title;
    }

    h4{
        @include typography(title2);
        font-family: $font-title--2;
    }

    h1, h2, h3, h4, h5, h6{
        color: get-colour(title);

        & + *{
            @include spacing(heading, top, margin);
        }
    }

    a{
        @include anchor();
    }

    ul,
    ol{
        li{
            line-height: 1.5;

            & + li{
                margin-top: $base-spacing;
            }
        }
    }

    ul{
        li{
           padding-left: ($base-spacing * 2);
           position: relative;

           &:before{
            font-size: rem-calc(12);
            content: "•";
            color: #c80000;
            display: block;
            position: absolute;
            left: $base-spacing;
            top: 0;
           }
        }
    }

    p, ul, ol, .intro{
        & + *{
            margin-top: $base-spacing;
        }
    }

    .intro{
        @include typography(title2);
    }
}