// * Variables
// ====================
$cookies-message-background: #FFFFFF !default;
$cookies-message-border: get-colour(grey-light) !default;
$cookies-message-color: rgba(0,0,0,.54) !default;

$cookies-detail-max-height: 1000px !default;
$cookie-message-heading-color: get-colour(charcoal) !default;

$cookies-message-expand-button-color: get-colour(blue) !default;
$cookies-message-expand-button-icon-size: 10px !default;

$cookie-message-button-size: ($base-spacing * 2) !default;
$cookie-message-button-background: get-colour(white) !default;
$cookie-message-button--active-background: get-colour(blue) !default;


// * Base Class
// ====================
.cookies-message {
    background-color: $cookies-message-background;
    border-top: 1px solid $cookies-message-border;
    color: $cookies-message-color;
    max-height: 100%;
    padding: $base-spacing;
    overflow-y: auto;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: layer(cookie-message);
}

.cookies-message__inner{
    max-width: $page-width;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

// **
// * Intro
// *
.cookies-message__intro{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.cookies-message__content{
    flex: 0 0 100%;
    margin-bottom: $base-spacing;
}

.cookies-message__expand{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center; 
    color: $cookies-message-expand-button-color;
    text-decoration: none;
}

.cookies-message__expand-text{
    color: currentColor;
    flex: 0 0 auto;
    min-width: 0;
    margin-right: $base-spacing;
    border: none;
    text-transform: uppercase;
}

.cookies-message__expand-icon{
    fill: currentColor;
    flex: 0 0 auto;
    height: $cookies-message-expand-button-icon-size;
    width: $cookies-message-expand-button-icon-size;
    transform: rotate(0deg);
    transition: transform 200ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

// **
// * Detail
// *
.cookies-message__detail{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    overflow: hidden;
    transition: max-height 200ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.cookies-message__options{
    flex: 0 1 100%;
    margin-top: ($base-spacing * 2);
    margin-bottom: ($base-spacing * 2);
}

.cookies-message__option{
    & + .cookies-message__option{
        margin-top: $base-spacing;
    }
}

.cookies-message__option-heading{
    @include typography(copySmall);
    color: $cookie-message-heading-color;
}

.cookies-message__option-content{
    @include typography(copySmall);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.cookies-message__option-message{
    flex: 1 1 auto;
    padding-right: ($base-spacing * 2);
}

.cookies-message__option-button {
    border: 1px solid currentColor;
    cursor: pointer;
    font-size: 0;
    height: $cookie-message-button-size;
    width: $cookie-message-button-size;
    margin-bottom: 0;
    position: relative;
    top: 0;
    left: 0;

    &:after {
        content: '';
        position: absolute;
        display: block;
        box-sizing: border-box;
        background-color: $cookie-message-button-background;
        width: ($cookie-message-button-size - 8);
        height: ($cookie-message-button-size - 8);
        top: 3px;
        left: 3px;
    }
}

// **
// * Submit
// *
.cookies-message__submit{
    margin-top: ($base-spacing * 2);
    .button__text{
        font-size: calc-rems(14);
        min-width: 0;
        padding: 5px 15px;
    }
}


// * Modifiers
// ====================
.cookies-message {
    &[aria-hidden="false"]{
        transform: translateY(0);
        transition: 
            transform $cookies-slide-up-speed cubic-bezier(0.86, 0, 0.07, 1);
    }

    &[aria-hidden="true"]{
        transform: translateY(100%);
        transition: 
            transform $cookies-slide-up-speed cubic-bezier(0.86, 0, 0.07, 1);
    }
}

.cookies-message__detail{
	&[aria-expanded="true"] {
        // display: block;
        max-height: $cookies-detail-max-height;
	}

	&[aria-expanded="false"] {
        // display: none;
        max-height: 0;
	}
}

.cookies-message-expand--active{
    .cookies-message__expand-icon{
        transform: rotate(180deg);
    }
}

.cookies-message__option-button{
    &[data-opt="in"]{
        &:after {
            background-color: $cookie-message-button--active-background;
        }
    }
}

// * Media Queries
// ====================
@include breakpoint(screen768){
    .cookies-message__content{
        min-width: 25%;
        margin-right: $base-spacing;
    }

    .cookies-message__options{
        flex-basis: auto;
        min-width: 25%;
        margin-bottom: 0;
        margin-right: ($base-spacing * 4);
    }
}