// * Variables
// ====================
$end-page-navigation-background: get-colour(grey-dark) !default;
$end-page-navigation-color: get-colour(white) !default;
$end-page-navigation--active-background: get-colour(blue) !default;


// * Base Class
// ====================
.end-page-navigation-item{
    @include spacing(container);
    background-color: $end-page-navigation-background;
    color: $end-page-navigation-color;
    position: relative;
    text-decoration: none;
    transition: background-color 200ms ease-in-out;

    &:hover,
    &:focus{
        background-color: $end-page-navigation--active-background;
        
        .end-page-navigation-item__link-caption{
            border-bottom-color: currentColor;
        }
    }
}

.end-page-navigation-item__content{
    padding: 0 $grid-margin-gutters;
}

.end-page-navigation-item__title{
    @include typography(title1);
    @include spacing(content, bottom, margin);
    font-family: $font-title;
}

.end-page-navigation-item__description{
    margin: 0 0 ($base-spacing * 5);
}

.end-page-navigation-item__link-caption{
    @include link(
	$color: currentColor,
	$padding: 1px,
	$hover-color: currentColor,
	$hover-border-color: currentColor
   );
}


// * Media Queries
// ====================
@include breakpoint(screen768){
    .end-page-navigation-item__content{
        padding: 0;
    }
}