@mixin relashe-components-blocks-header-side-bar {
    // * Variables
    // ====================
    $header-side-bar-width: 80vw !default;
    $header-side-bar-columns--1000: 12 !default;
    $header-side-bar-width--1000: percentage($header-side-bar-columns--1000/$grid-columns) !default;

    .header__side-bar{
        --header-side-bar-background: transparent;
        --header-side-bar-width: #{$header-side-bar-width};
        --header-side-bar-height: 100%;

        background-color: get-var(header-side-bar-background);
        height: get-var(header-side-bar-height);
        width: get-var(header-side-bar-width);
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: layer(side-bar);
        transform: translateX(-100%);
    }

    .header__overlay{
        --header-overlay-background: transparent;

        background-color: get-var(header-overlay-background);
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: layer(header-overlay);
        transform: translateX(-100%);
        transition:
            background-color 275ms ease-in-out 75ms,
            transform 0ms linear 325ms;
    }

    // * States & Modifiers
    // ====================
    .header__side-bar{
        &[aria-expanded="true"]{
            
            transform: translateX(0);
            transition: transform 500ms cubic-bezier(.645,.045,.355,1) 0ms;
        }

        &[aria-expanded="false"]{
            transition: transform 650ms cubic-bezier(.9,0,.33,1) 200ms;
        }
    }

    .header__overlay{
        .body--menu-open &{
            --header-overlay-background: rgba(0, 0, 0, 0.5);

            transform: translateX(0);
            transition: background-color 250ms ease-in-out 175ms;
        }
    }

    // * Media Queries
    // ====================
    @include breakpoint(screen1000){
        .header__side-bar{
            --header-side-bar-width: #{$header-side-bar-width--1000};
            transform: translateX(#{-(percentage(($header-side-bar-columns--1000 - 1)/$header-side-bar-columns--1000))});
        }
    }
}