@mixin relashe-components-blocks-header-side-bar {
    // * Variables
    // ====================
    $header-side-bar-width: 80vw !default;
    $header-side-bar-columns--1000: 12 !default;
    $header-side-bar-width--1000: percentage($header-side-bar-columns--1000/$grid-columns) !default;

    .header__side-bar{
        --header-side-bar-background: #{get-var(brand-blue-light)};
        --header-side-bar-width: #{$header-side-bar-width};
        --header-side-bar-height: 100%;

        background-color: get-var(header-side-bar-background);
        height: get-var(header-side-bar-height);
        width: get-var(header-side-bar-width);
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: layer(side-bar);
    }

    // * States & Modifiers
    // ====================
    .header__side-bar{
        &[aria-expanded="true"]{
            transform: translateX(0);
            transition: transform 500ms cubic-bezier(.645,.045,.355,1) 0ms;
        }

        &[aria-expanded="false"]{
            transition: transform 800ms cubic-bezier(.9,0,.33,1) 200ms;
        }
    }

    // * Media Queries
    // ====================
    @include breakpoint(screen1000){
        .header__side-bar{
            --header-side-bar-width: #{$header-side-bar-width--1000};
            transform: translateX(#{-(percentage(($header-side-bar-columns--1000 - 1)/$header-side-bar-columns--1000))});

            // border-right: 1px solid rgba(0,0,0,.08);
        }
    }
}