@mixin relashe-components-blocks-site-menu {
    // * Variables
    // ====================
    $site-menu-link-delay: 75ms !default;


    // * Base Class
    // ====================
    .site-menu {
        --site-menu-container-background: transparent;
        --site-menu-background: #{get-var(brand-grey-light)};
        --site-menu-color: #{get-var(text)};

        background-color: get-var(site-menu-container-background);
        color: get-var(site-menu-color);
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: layer(site-menu);

        .grid-x{
            height: 100%;
            width: 100%;
        }
    }

    .site-menu__content-container{
        height: 100%;
    }

    .site-menu__content{
        background-color: get-var(site-menu-background);
        height: 100%;
        padding-left: $grid-margin-gutters;
        padding-right: $grid-margin-gutters;
        overflow-y: auto;
        display: inline-flex;
        flex-flow: column nowrap;
        justify-content: center;
    }

    // **
    // * Main Menu
    // *
    .site-menu__link{
        display: block;
        opacity: 0;
        transform: translateY(#{get-var(base-spacing)});
        transition: opacity 0.5s 0s ease, transform 0.5s 0s ease;

        & + &{
            margin-top: calc(#{get-var(base-spacing)} * 2);
        }
    }

    .menu-link{
        @include link(
            $font: heading2,
            $font-family: $font-title,
            $animation: true,
            $padding: 0,
        );
    }

    // * States & Modifiers
    // ====================
    .site-menu{
        // * For when the navigation is shown
        .header__side-bar[aria-expanded="true"] & {
            .site-menu__link,
            .site-menu__utility-link,
            .social-link {
                opacity: 1;
                transform: translateY(0);
            }
        }

    }

    @for $i from 1 through 10 {
        .header__side-bar[aria-expanded="true"] .site-menu__link:nth-child(#{$i}) {
            transition-delay: #{400 + ($i * $site-menu-link-delay)};
        }
    }

    // * Media Queries
    // ====================
    @include breakpoint(screen1000){
        .site-menu__content{
            justify-content: flex-start;
        }
    }
}