// * Base Class
// ====================
.team {
    & + .team{
        @include spacing(container, top, margin);
    }
}

.team__name {
    @include typography(title1);
    font-family: $font-title;
}

.team-list__inner{
    display: flex;
    flex-flow: row wrap;
    margin:(-$base-spacing * 1.5) (-$grid-margin-gutters/2);
}

.team-list__item{
    flex: 0 0 auto;
    margin: ($base-spacing * 1.5) ($grid-margin-gutters/2);
    width: calc(100% - #{$grid-margin-gutters});
}

@include breakpoint(screen460){
    .team-list__item{
        width: calc(50% - #{$grid-margin-gutters});
    }
}

@include breakpoint(screen1000){
    .team-list__item{
        width: calc(25% - #{$grid-margin-gutters});
    }
}