// * Variables
// ====================
$text-heading-height: 95vh !default;
$text-heading-height--600: 80vh !default;
$text-heading-height--1000: 75vh !default;

$text-heading-intro-max-width: 500px !default;


// * Base Class
// ====================
.text-heading__title{
    @include typography(heading2);
    font-family: $font-heading;
}

.text-heading__intro{
    @include typography(title1);
    font-family: $font-title;
}

