@function overlay($overlay){
    @if map-has-key($overlays, $overlay) {
        @return map-get($overlays, $overlay);  
    }
    
    @warn "The key #{$overlay} is not in the map ’$overlays";
    @return null;
}

@mixin anchor(
	$link: currentColor,
	$hover: currentColor,
	$visit: currentColor,
	$active: currentColor,
	$underline-hover: true) {

	& {
	 color: $link;
	 text-decoration: none;
	 transition: color 0.2s ease-out;
   
	 @if($underline-hover == 'true'){
		&:focus,
		&:hover,
		&:active {
		text-decoration: underline;
		}
	}
   
	 &:focus,
	 &:hover {
	  color: $hover;
	 }
	 &:active {
	  color: $active;
	 }
	}
   }
   
   @mixin link(
	$font: copy,
	$font-family: $font-roboto-light,
	$color: get-colour(link),
	$border-width: 1px,
	$border-style: solid,
	$border-color: transparent,
	$padding: 2px,
	$hover-color: get-colour(link-hover),
	$hover-border-color: get-colour(blue),
	$animation: false
   ) {
	@include remove-appearance();
	@include typography($font);
	font-family: $font-family;
	font-weight: 300;
	color: $color;
	border-bottom-width: $border-width;
	border-bottom-style: $border-style;
	border-bottom-color: $border-color;
	display: inline-block;
	padding-bottom: $padding;
	position: relative;
	transition: all 0.1s ease-in-out;
	text-decoration: none;
   
	&:hover,
	&:focus {
	 color: $hover-color;
	 border-bottom-color: $hover-border-color;
	}
   
	@if $animation {
	 &:after {
	  content: '';
	  width: 0;
	  position: absolute;
	  left: 0;
	  bottom: 0;
	  margin-bottom: -$border-width;
	  transition: all 350ms ease-out;
	  display: block;
	  border-bottom-width: $border-width;
	  border-bottom-color: $hover-color;
	 }
   
	 &:hover:after,
	 &:focus:after {
	  width: 100%;
	 }
   
	} @else {
	 display: initial;
	 padding-bottom: 0;
	}
   }

   @mixin side-heading(
    $top: 0,
    $left: 102%,
    $rotate: 90deg,
    $origin: center left,
    $width: 200px
){
    margin: 0;
    position: absolute;
    top: $top;
    left: $left;
    transform: rotate($rotate);
    transform-origin: $origin;
    min-width: $width;
}