//
// * Name: Accessibility
// * Description: Some accessibility classes
// * Use prefix 'a-'
//


// * Base Class
// ====================
.a-hide,
[data-accessibility="hide"]{
    position: fixed;
    top: -9999px;
    left: -9999px;
}

// * Media Queries
// ====================
