@mixin relashing-utilities-spacing {

    // * CONTENT
    // ====================
    @each $container, $size in $content-containers {
        .l-content-container-#{$container} { max-width: $size; }
    }

    // * SPACING
    // ====================
    @each $s-map, $value in $spacing-groups {
        .u-spacing-#{$s-map} { @include spacing($s-map) }
        .u-spacing-#{$s-map}-top { @include spacing($s-group: $s-map, $position: top) }
        .u-spacing-#{$s-map}-bottom { @include spacing($s-group: $s-map, $position: bottom) }

        .u-spacing-#{$s-map}-margin { @include spacing($s-map, $s-type: margin) }
        .u-spacing-#{$s-map}-margin-top { @include spacing($s-group: $s-map, $position: top, $s-type: margin) }
        .u-spacing-#{$s-map}-margin-bottom { @include spacing($s-group: $s-map, $position: bottom, $s-type: margin) }
    }

    // **
    // * Elements that get hidden by the header and require extra padding-top
    // *
    .u-header-offset{
        @include heading-offset();
    }

    @for $i from 0 through 4 {
        $margin: $base-spacing * $i;
        $padding: $base-spacing * $i;
      
        .u-margin-#{$i} {
          margin: $margin !important;
        }
        .u-margin-top-#{$i} {
          margin-top: $margin !important;
        }
        .u-margin-bottom-#{$i} {
          margin-bottom: $margin !important;
        }
        .u-margin-left-#{$i} {
          margin-left: $margin !important;
        }
        .u-margin-right-#{$i} {
          margin-right: $margin !important;
        }
      
        .u-padding-#{$i} {
          padding: $padding !important;
        }
        .u-padding-top-#{$i} {
          padding-top: $padding !important;
        }
        .u-padding-bottom-#{$i} {
          padding-bottom: $padding !important;
        }
        .u-padding-left-#{$i} {
          padding-left: $padding !important;
        }
        .u-padding-right-#{$i} {
          padding-right: $padding !important;
        }
      }
}
