@mixin relashing-utilities-typography {

    // * Typography helper classes (t)
    // ====================
    .t-heading-1 {
        @include typography(heading1);
        font-family: $font-heading;
    }

    .t-heading-2 {
        @include typography(heading2);
        font-family: $font-heading;
    }

    .t-heading-3 {
        @include typography(heading3);
        font-family: $font-heading;
    }

    .t-title-1 {
        @include typography(title1);
        font-family: $font-title;
    }

    .t-title-2 {
        @include typography(title2);
        font-family: $font-title--2;
        font-weight: 600;
    }

    .t-copy-large{
        @include typography(copyLarge);
    }

    .t-copy{
        @include typography(copy);
    }

    .t-sub-copy{
        @include typography(copySmall);
    }

    .t-link{
        @include link(copyLarge);
    }

    .t-link-2{
        @include link(copy);
    }

    .t-link-3{
        @include link(copySmall);
    }

    .t-font-heading{
        font-family: $font-heading !important;
    }

    .t-font-title{
        font-family: $font-title !important;
    }

    .t-font-title-2{
        font-family: $font-title--2 !important;
        font-weight: 600;
    }

    .t-font-default{
        font-family: $font-default !important;
        font-weight: 400;
    }

    .t-font-bold{
        font-weight: 600;
        font-weight: bold;
    }

    .t-font-italic{
        font-style: italic;
    }
}