@mixin relashe-components-service-card {
  // * Variables
  // ====================

  // * Base Class
  // ====================
  .service-card__image-container {
    margin-bottom: ($base-spacing * 3);
  }

  .service-card__title {
    @include typography(title1);
    font-family: $font-title--2;
    font-weight: 600;
  }

  .service-card__description {
    @include typography(copySmall);

    margin-top: ($base-spacing);
    max-width: 90%;
  }
}
